**/common_msgs/
**/rospy/
**/std_msgs/
**/vision_opencv/
**/tensorflow_object_detector_ros/
**/data/
**/data_3/
**/*.assets/
**/.vscode/
**/.ipynb_checkpoints/
**/ckpts/
**/*.pyc
**/__pycache__/
data_collector/index.txt
