<?xml version="1.0" encoding="UTF-8" ?>
<launch>
	<param name="stop_param" type="bool" value="false"/>

  	<!-- <node pkg="tensorflow_object_detector"
			type="tensorflow_object_detector"
			name="tensorflow_object_detector"
			output="screen"
			launch-prefix="">
		<param name="graph_path" value="$(find tensorflow_object_detector)/config/ssd_mobilenet_v1_coco.pb"/> 
		<param name="labels_path" value="$(find tensorflow_object_detector)/config/mscoco_labels.txt"/>
		<param name="score_threshold" value="0.3"/> 
		<param name="always_output_image" value="true"/> 
	
		<remap from="image_in" to="/image_in"/>
		<remap from="image_out" to="/image_out"/>
	</node> -->

	<node pkg="hand_recognition" type="main.py" name="hand_gesture_node" output="screen">
		<remap from="image" to="image_in"/>
		<remap from="sign_cmd" to="codrone_cmd"/>
	</node>

	<!-- <node pkg="codrone_alpha" type="codrone_alpha_node" name="codrone_alpha_node" output="screen">
	</node> -->
    
    <!-- <node name="korean_ocr_node" pkg="korean_ocr" type="korean_ocr_node.py" output="screen"/> -->
          
</launch>
